.box {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(135deg, #ffa07a, #ff7f50);
  color: #fff;
}

.box h1 {
  text-align: center;
  margin-bottom: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.number {
  margin-bottom: 10px;
}

.generate {
  text-align: center;
  margin-bottom: 20px;
}

.checkboxcont {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.input-name input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.passwordbox input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.submit-button button {
  width: 100%;
  padding: 10px;
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button button:hover {
  background-color: #ff4500;
}

.user-data {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.user-data h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: black;
}

.user-data ul {
  list-style-type: none;
  padding: 0;
  color: black;
}

.user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: black;
}

.user-info {
  flex-grow: 1;
}

.user-actions {
  display: flex;
  gap: 10px;
}

.user-data button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-data button:hover {
  background-color: #0056b3;
}

.user-data .update-btn {
  background-color: #28a745; /* Green */
}

.user-data .delete-btn {
  background-color: #dc3545; /* Red */
}

.user-data button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.user-data button:disabled:hover {
  background-color: #007bff;
}
